/* 17. Сброс отступов для всех элементов */
* {
    margin: 0;
    padding: 0;
}

/* 18. Стили для body */
body {
    background: #fff;
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 20px;
    color: #222;
}

/* 19. Основной контейнер */
#main {
    margin: 20px auto;
    width: 800px;
}

/* 20. Шапка */
#header {
    height: 90px;
    background: #2a79bc url(images/header.png) no-repeat;
}

/* 21. Заголовок H1 в шапке */
#header h1 {
    font-size: 28px;
    letter-spacing: -1px;
    padding: 20px 0 0 20px;
    color: #FF5500;
}

/* 22. Ссылка в заголовке H1 */
#header h1 a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -2px;
}

#header h1 a:hover {
    color: #111;
}

/* 23. Стили для всех ссылок */
a {
    text-decoration: none;
    color: #4682B4;
}

/* 24. Стили для ссылок при наведении */
a:hover {
    text-decoration: underline;
    color: #2a52be;
}

/* 25. Контентная область */
#content {
    padding: 0px 0 0 0px;
}

/* 26. Левая колонка (меню) */
#left {
    float: left;
    width: 180px;
    padding-top: 10px;
}

/* 27. Заголовок H2 в левой колонке */
#left h2 {
    margin: 10px 0 0 0;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    background: #2a79bc url(images/menu.png) no-repeat;
    color: #fff;
    font-size: 13px;
}

/* 28. Список меню */
#left ul {
    padding: 10px 0 15px 10px;
    list-style-type: square;
    color: #2979BD;
    padding-left: 30px;
}

#left ul li a {
    text-decoration: none;
    font-weight: 600;
}

#left ul li a:hover {
    text-decoration: underline;
    color: #2a52be;
}

/* 29. Правая колонка (контент) */
#right {
    float: right;
    width: 590px;
    text-align: justify;
    padding-top: 5px;
}

#right h2 {
    font-size: 18px;
    font-weight: 100;
    padding: 15px 0 7px 0;
}

#right h2 a {
    text-decoration: none;
}

#right h2 a:hover {
    text-decoration: underline;
}

/* 30. Футер */
#footer {
    text-align: center;
    font-size: 11px;
    color: #0047ab;
    margin-top: 20px;
    border-top: 1px dotted #0047ab;
}

#footer a {
    color: #0047ab;
}