/* Основные стили для body */
body {
    background-color: #fff;
    font-family: Verdana, Arial;
    font-size: 12px;
    line-height: 20px;
    color: #222;
}

/* Стили для главной таблицы */
#main {
    width: 800px;
    border: 0px;
    border-spacing: 0px;
}

/* Шапка сайта */
#header {
    height: 90px;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-color: #2a79bc;
}

#header h1 {
    font-size: 28px;
    letter-spacing: -1px;
    padding: 20px 0 0 20px;
    color: #FF5500;
}

#header h1 a {
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: -2px;
}

#header h1 a:hover {
    color: #111;
}

/* Стили для ссылок */
a {
    text-decoration: none;
    color: #4682B4;
}

a:hover {
    text-decoration: underline;
    color: #2a52be;
}

/* Левая колонка с меню */
#left {
    width: 200px;
    vertical-align: top;
    background-color: #f0f0f0;
    padding: 10px;
}

#left h2 {
    height: 30px;
    line-height: 30px;
    background-color: #2a79bc;
    background-image: url(images/menu.png);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 13px;
    text-align: center;
}

#left ul {
    list-style-type: square;
    color: #2979BD;
    padding-left: 30px;
    font-size: 13px;
}

#left ul li a {
    text-decoration: none;
    font-weight: 600;
}

#left ul li a:hover {
    text-decoration: underline;
}

#left form {
    color: #2979BD;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
}

/* Центральная колонка с контентом */
#content {
    vertical-align: top;
    padding: 15px;
    background-color: #ffffff;
}

/* Подвал */
#footer {
    text-align: center;
    font-size: 11px;
    color: #0047ab;
    margin-top: 20px;
    border-top: 1px dotted #0047ab;
    padding: 10px;
}

#footer a {
    color: #0047ab;
}
